node_modules/
build/
dist/
coverage/
playwright-report/
test-results/
.DS_Store
*.log
.env*
!.env.example
.firebase/*
.agents/*
.codex/*
AGENTS.md
lista_operazioni_03052026.csv
lista_operazioni_03052026.xlsx
deploy prod
